<div class="container">
    <h2>Create a new drone</h2>
    <form method="POST" action="/drones/create">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" type="text" class="form-control input-field" id="name">
        </div>
        <div class="mb-3">
            <label for="propellers" class="form-label">Propellers</label>
            <input name="propellers" type="number" class="form-control input-field" id="propellers">
        </div>
        <div class="mb-3">
            <label class="form-label" for="max-speed">Max Speed</label>
            <input name="maxSpeed" type="number" class="form-control input-field" id="max-speed">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>